*{
  margin : 0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
#head{
    
    font-size:32px;
    text-align:center;
    justify-content: center;
    font-weight:bold;
    color:#fff;
    background : #314595;
    padding:10px 20px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    box-shadow: 0 10px 20px rgba(244,27,117,0.2);

}
.hero{
    width:100%;
    min-height: 100vh;
    background: rgb(245, 239, 227);
    color : #ff2222;
    position : relative;

}
.container{
    width : 800px;
    height : 180px;
    position : absolute;
    top : 50%;
    left: 50%;
    transform : translate(-50%,-50%);
    
}
.clock{
    width:100%;
    height:100%;
    background : rgba(245, 26, 147, 0.11);
    display : flex;
    align-items:center;
    justify-content: center;
    backdrop-filter: blur(40px);
}
.container::before{
    content : '';
    width : 180px;
    height : 180px;
    background : #f41b75;
    border-radius: 5px;
    position:absolute;
    left:-50px;
    top:-50px;
    z-index: -1;

}

.container::after{
    content : '';
    width : 180px;
    height : 180px;
    background : #419aff;
    border-radius: 50%;
    position:absolute;
    right:-30px;
    bottom:-50px;
    z-index: -1;
    
}
.clock span{
    font-size: 80px;
    width: 110px;
    display:inline-block;
    text-align:center;
    position: relative;

}
.clock span::after{
    
    font-size:16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
#hrs::after{
    content: 'HOURS';
}
#min::after{
    content: 'MINS';

}
#sec::after{
    content:'SEC';
}
#milli::after{
    content: 'MILLI';
}
.colon{
    font-size:70px;
    font-weight:bold;
    line-height : 1;
    margin-bottom : 10px
}
.stopwatch-heading{
    text-align: center;
    margin-top : 440px;
    color : #314595;
}

.stopwatch{
    width : 500px;
    margin : 20px auto;
    text-align: center;
    padding : 30px;
    background: rgba(65,154,255,0.15);
    border-radius: 10px;
}
.stopwatch-time{
    font-size : 50px;
    margin-bottom: 25px;
}
.buttons button{
    padding : 10px 25px;
    margin : 5px;
    font-size : 18px;
    cursor: pointer;
    font-weight: 500;
    border-color: #f41b75;
    border-width: 2px;
    border-radius: 10px;
    box-shadow: #f41b75;
    
}